<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Calculateur Simple</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calculs</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Entrée 1 -->
      <ion-item>
        <ion-input label="Nombre 1" labelPlacement="floating" type="number" [(ngModel)]="op1"></ion-input>
      </ion-item>

      <!-- Entrée 2 -->
      <ion-item>
        <ion-input label="Nombre 2" labelPlacement="floating" type="number" [(ngModel)]="op2"></ion-input>
      </ion-item>

      <!-- Opérations -->
      <div class="ion-margin-top">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="add()">+</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="sub()">-</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="mul()">*</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" (click)="div()">/</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Bouton Effacer -->
      <ion-button expand="block" fill="outline" color="medium" (click)="clear()" class="ion-margin-top">
        Effacer
      </ion-button>

      <!-- Résultat -->
      <div *ngIf="res !== null" class="ion-margin-top ion-text-center">
        <hr>
        <h3>Résultat: {{ res }}</h3>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

