<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="goToCalculs()" expand="block" shape="round">
      Aller vers la page calculs
    </ion-button>
     <ion-button (click)="goToJeu()" expand="block" shape="round">
      Aller vers la page jeu
    </ion-button>
  </div>
</ion-content>
